<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<header class="navbar">
<div class="logo">
    <img src="logo.png" alt="logo">
</div>
<nav>
<a href="index.html">Home</a>
<a href="projects.html">Projects</a>
<a href="about.html" class="active">About</a>
<a href="contact.html">Contact</a>
</nav>
</header>

<section class="page">

<h1>About Me</h1>

<div class="about">

<img src="profile.jpg" class="profile about-img">

<div>
<h2>A Chetan Kumar</h2>
<p class="role">Machine Learning & Data Science Enthusiast</p>

<p>Driven and detail-oriented Computer Science and Data Science student with a
CGPA of 9.13, experienced in Python, Pandas, SQL, Machine Learning. Built
practical projects including an IoT-based Smart Attendance System and a
Breast Cancer Classification model. Holds certifications from Infosys
Springboard and demonstrates a strong commitment to continuous learning.
Seeking internship opportunities in Data Science and Machine Learning to
apply and enhance technical skills.
</p>

</div>

</div>

</section>

</body>
</html>